@font-face{
font-family: Days;
src: url(../fonts/28DaysLater.ttf);
}

* {
  box-sizing:border-box;

}

html{
background-color:black;
/*background-image:url(../img/background.jpg);*/
/*background-size: 100%;*/

font-family: DINPro, ADAM.CG PRO, Building, Moon;
/*font-weight: 100;
*/
font-size: 16px;
}
body{
  margin-top: 7rem;
/*color:white;
*/

}
/*button{
background-color: rgba(197,179,88,0.5);
color:white;

border:1px solid #ccc;
border-radius: 0.2rem;
padding:0.5rem;
transition: .3s ease-in background-color;
cursor: pointer;
}*/
input, select, textarea, button[type="submit"]{
font-size: 1.25rem;
padding:1.25rem;
border-radius: 5px;
border: 1px solid #ccc;
margin: 0.8rem;
width:35%;
min-width: 300px;
}

form label {
  color: white;
}

input[type="radio"] {
  width: auto;
  min-height: auto;
  text-align: left;
}

.radio-button{
  /*text-align: center;*/
  width:35%;
  background-color: white;
  border: 1pxx solid #ccc;
  border-radius: 5px;
margin:0.8rem;
text-align: left;
}


.btn-blue {
/*background-color:rgba(197,179,88,0.8);*/
background-color: rgba(197,179,88,0.8);
color:white;

border:1px solid #ccc;
border-radius: 0.2rem;
padding:0.5rem;
transition: .3s ease-in background-color;
cursor: pointer;

}
.btn-blue:hover{
background-color:rgba(197,179,88,1);
text-shadow:1px 1px 5px black;
}


h1{
text-align: center;
color:white;
padding-top: 10%;
padding-bottom:2rem;
font-family: DINPro;
}
/*h2{
text-align: center;
  color:white;
}*/
.poster-wrapper{
  display:inline-block;
width:32%;
height: auto;
padding:10px;
color: white;
cursor:pointer;
transition:0.3s linear all; 
font-size: 0.9rem;
position:relative;
font-family: Moon;
/*text-align: left;*/
}
.poster-wrapper h2{

color:rgba(200,200,200,1);
position:absolute;
top:50%;
left:50%;
transform:translateX(-50%) translateY(150%);
}
.poster-wrapper img{
opacity:0.7;
transition:0.3s linear background-color;  
}
.poster-section{
text-align: center;


}

.poster-wrapper:hover{
padding:5px;
font-size:1.2rem;
/*width:32%;*/
}



.poster-wrapper img:hover{
opacity:1;

/*box-shadow: 0px 0px 10px #888888;*/


}



img{
width:100%;
/*height: auto;
padding:10px;
*/
}


a {
text-decoration: none;
color:white;

}

nav ul li{

display:inline-block;
color:white;
font-size: 1rem;

border: 1.5px solid white;
border-radius: 0.6rem;

padding:0.5rem;

margin:0 0.5rem; /* if four variables top right down left clockwise*/
cursor:pointer;
transition:0.2s linear background-color;  /*time, velocity, object*/

}

nav ul li:hover{
  background-color:#ccc;
   text-shadow: 0.5px 0.5px #000;
box-shadow: 2px 2px 10px #888888;
}

nav{
text-align: right; 

background-color: rgba(197,179,88,0.8);
padding:10px;

/*margin:10px;*/
position:fixed;
width:100%;
top:0;
z-index: 1;
}
nav ul{
margin:0;
padding:0;
/*margin-right:1rem;
*/
}
/*.table-wrapper{
text-align: center;

}*/
table{

  margin-left:auto;
  margin-right: auto;
}

th,td{
  border: 0.1px solid white;
color: white;
padding:0.8rem;

}

footer{
  color:rgba(20,20,20,0.4);
background-color: rgba(200,200,200,0.6);
padding:0.7rem;
text-align: center;
margin-top: 5%;

}
}

footer ul{

  margin:0;
  padding:0;
}

footer ul li{
display:inline-block;
margin:0 1rem;
font-size: 1rem;
}


.content{
  display:inline-block;
 width:60%;
color:white;
/*text-align: left;*/
/*margin:0 20%;*/
vertical-align: middle;
padding-left: 20px;
}

.aboutus-wrapper{
display:inline-block;
width:80%;
border:5px solid rgba(197,179,88,0.5);
/*float:left;*/
margin-left: 10%;
/*margin-right: 1rem;*/

margin-bottom:1rem;
/*vertical-align: center;*/
}
.aboutus-wrapper img{
  display:inline-block;
width:30%;
vertical-align: middle;
}

.member{

 display: inline-block;

}

.margin-right{

  margin-right: 1rem;
}
.margin-right-small{

  margin-right: 0.3rem;
}


.gradient-text h1{
/*  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;*/
  padding-top: 150px;
  /*padding-left: 20px;*/
  overflow: hidden;
  border: none;
  font: normal 52px/1 "Audiowide", Helvetica, sans-serif;
  color: rgba(255,255,255,0.81);
  text-align: center;

  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  text-shadow: 0 0 2px rgba(255,255,255, 0.5) ;
 
}
.contact-form{
text-align: center;


}

@media(max-width: 960px){
    .poster-wrapper{

    width:30%;
  }
.poster-wrapper h2{
font-size: 1.3rem;

}




}
@media(max-width: 880px){
    .poster-wrapper{

    width:40%;
  }
.poster-wrapper h2{
font-size: 1rem;

}




}

@media(max-width: 700px){
  .poster-wrapper{

    width:40%;
  }
.poster-wrapper h2{
font-size: 0.9rem;

}





}
@media(max-width: 600px){
.poster-wrapper h2{
font-size: 1.5rem;


}

.poster-wrapper {
width: 100%;

}


}





/**/